.Top-navi {
  background-color: black;
  color: white;
}
#Navi-lettering:hover {
  background-color: #004367;;
}

#Navi-lettering {
  color: white;
}

.heady-Icon {
  margin: 1% 2%;
  color: white;
}

.padded-Icon {
  padding-left: 45%;
}
